<header id="main-header">
		
		<a id="logo-header" href="#">
			<span class="site-name">Portfolio Edward</span>
			<span class="site-desc">Develoment / Software / sisoi</span>
		</a> 

		<nav>

		</nav>

</header>