<footer id="main-footer">
		<p class="footerxd">&copy; 2023 <a href="https://instagram.com/ed99mv?igshid=NzZlODBkYWE4Ng%3D%3D&utm_source=qr">edd99mv/instagram.com</a></p> <p><%= link_to "Contact", "/contacts/new" %></p>
</footer> 