<%= render "layouts/header", home: @home %>
<p><strong>Nombre:</strong> <%= @user.name %></p>
<p><strong>Descripción:</strong> <%= @user.description %></p>

<%= render "layouts/footer", home: @home %>